<div class = "show">
  <br>
  <h3 class = "show_titlel">
    詳細
  </h3>
  <div class = "show_content">
     <p1 class = "b_break"><%= @speak.content%></p1>
  </div>
  <br>
  <%= button_to "HOME", speaks_path, {method: :get, class: 'btn'} %>
</div>