/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
    height: 100%;
}

.body {
    background-color: #F5F5F5;
    font-family: "游ゴシック体",YuGothic;
    min-height: 100%;
    position: relative;
}

.header {
    background-color: #67c5ff;
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
    display: table;
}

.header p {
    color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    
}

.container {
    width: 980px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

.footer {
    background-color: #67c5ff;

    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: table;
}

.footer p {
    color: white;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}