<!DOCTYPE html>
<html>
  <head>
    <title>Task3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "body">
    <header class = "header">
      <p>SPEAK</p>
    </header>
    <div class = "container">
      <%= yield %>
    </div>  
    <footer class = "footer">
      <p>N.YASUI</p>
    </footer>
    </body>
</html>
